
<%- include("partials/header"); -%>


<div style="background-color:#e2ec80;color:black;padding:20px; border-radius:2%; margin-top: 100px;">
    <h1><%=title%></h1>
    <p style="font-weight:bold; font-family: 'Courier New', Courier, monospace; font-size: large;"> <%=content%> </p>
  </div>
    


<%- include("partials/footer"); -%>
